<a href="https://colab.research.google.com/github/vivek87799/pyspark_demo/blob/main/demo_pyspark_basic_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> PySpark basic introduction

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 62kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 17.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=8790fba5b998807287fde3dbf29ab3acdd86bc0425e4686f183ddadab54af522
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pd.read_csv("/content/spark_demo.csv")

    Name  Age
0   Jack   29
1  Sunny   29
2    Ram   30

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("demo_spark").getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv("/content/spark_demo.csv")

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [ ]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| Jack| 29|
|Sunny| 29|
|  Ram| 30|
+-----+---+

In [ ]:
df_pyspark = spark.read.option("header", "true").csv("/content/spark_demo.csv")

In [ ]:
df_pyspark

DataFrame[Name: string, Age: string]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [ ]:
Tut1